:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --bg-color: #2f303a;
  --e-address: rgba(255, 255, 255, 0.6);
  --address: #ffffff;
  --button-two: #f5f4fa;
}

body {
  background-color: var(--address);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
}

a {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* INDEX.HTML */

.hero {
  background-color: var(--bg-color);
}

/* logo */

.logo-style {
  color: var(--accent-color);
}
.secondary-logo {
  color: var(--address);
}
.nav-logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.nav-logo:focus,
.nav-logo:hover {
  color: var(--accent-color);
}

/* nav */
.site-nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.auth-nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-link.current {
  color: var(--accent-color);
}
/* main */

.hero-title {
  color: var(--address);
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  letter-spacing: 0.06em;
}

/* section */

.section-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* features */

.features-title {
  text-transform: uppercase;
}

.features-text {
  color: var(--title-text-color);
  font-weight: 400;
  line-height: 1.7;
}

/* team */

.team-title {
  font-weight: 500;
  font-size: 16px;
}

.team-text {
  color: var(--title-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
}

/* button  */

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button.primary {
  color: var(--address);
  background-color: var(--accent-color);
}

.button.primary:hover,
.button.primary:focus {
  color: var(--accent-color);
  background-color: var(--address);
}

.button.secondary {
  /* color: var(--primary-text-color); */
  background-color: var(--button-two);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--address);
  background-color: var(--accent-color);
}

/* footer */
.footer {
  background-color: var(--bg-color);
}
.address-text,
.address-link {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.address-text {
  color: var(--address);
}

.address-link {
  color: var(--e-address);
  font-style: normal;
}

/* PORTFOLIO.HTML */

/* main */

/* cardset */
.cardset-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cardset-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}
